			<article>
				<header>
					<h1 itemprop="headline name"><$ARTICLE_TITLE$></h1>
					<meta itemprop="url mainEntityOfPage sameAs" content="<$ARTICLE_URL$>">
					<meta itemprop="position" content="<$ARTICLE_ID$>">
					<meta itemprop="inLanguage" content="<$ARTICLE_LANGUAGE$>">
					<meta itemprop="keywords" content="<$ARTICLE_KEYWORD$>">
				</header>
				<div itemprop="articleBody text"><$ARTICLE_CONTENT$></div>
				<footer>
					<a itemprop="discussionUrl" href="<$ARTICLE_URL$>#comment"><span itemprop="commentCount"><$ARTICLE_COMMENT_COUNT$></span> comments</a>
					<span itemprop="accountablePerson author creator" itemscope itemtype="https://schema.org/Person">
						<a itemprop="url" href="<$ARTICLE_AUTHORURL$>" rel="author"><span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><img itemprop="url" src="<$ARTICLE_AUTHORIMAGE$>" alt="" width="40" height="40"><meta itemprop="width height" content="200"></span><span itemprop="name"><$ARTICLE_AUTHOR$></span></a> posted
					</span>
					<time itemprop="datecreated datepublished" datetime="<$ARTICLE_DATERFC$>" title="<$ARTICLE_DATE$>"><$ARTICLE_DATE$></time>
					<meta itemprop="datemodified" content="<$ARTICLE_DATERFC$>">
					<meta itemprop="copyrightYear" content="<$ARTICLE_DATECOPY$>">
					<span itemprop="publisher copyrightHolder" itemscope itemtype="http://schema.org/Organization">
						<meta itemprop="name" content="<$ARTICLE_PUBLISHER$>">
						<span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
							<meta itemprop="url" content="<$ARTICLE_PUBLISHERLOGO$>">
							<meta itemprop="width height" content="200">
						</span>
					</span>
					<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<meta itemprop="url" content="<$ARTICLE_IMAGE$>">
						<meta itemprop="width" content="<$ARTICLE_IMAGEWIDTH$>">
						<meta itemprop="height" content="<$ARTICLE_IMAGEHEIGHT$>">
					</span>
				</footer>
				
				<aside id="comment">
					<h3>comments</h3>
					<$BLOG_POST_COMMENT$>
				</aside>
			</article>