body {
	margin: 0;
	padding: 0;
	background-color: #DDD0D3;
	background-color: #D8BFD8;
	background-color: #F6C9CC;
	background-color: #EED1F6;
}

a:hover, a:focus {
	font-style: oblique;
}

.WCAG_hide, [aria-hidden="true"] {
	position: absolute !important;
	left: -99999px !important;
	top: auto !important;
}

nav {
	font-variant: small-caps;
}
body > main h1, body > main h2, body > main h3, body > main h4, body > main h5, body > main h6, nav {
	font-family: serif !important;
}

body > * {
	width: 80%;
	min-width: 800px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
}

body > header {
	background: #800080 url(logo.png) no-repeat;
	color: #FFF;
	font-family: serif;
	font-variant: small-caps;
}

body > main {
	background-color: #FFF;
	font-family: sans-serif;
	padding-bottom: 3em;
}

body > footer {
	background-color: #FFF;
	text-align: center;
	padding-bottom: 1em;
}

/* ============================== */
/* ============================== */

body > header h1 {
	font-family: cursive, serif;
	font-size: 2.3em;
	margin: 0 200px;
}

body > header a {
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	display: block;
}

body > header > nav {
	padding-top: .75em;
}

body > header > nav > ul {
	list-style-type: none;
	margin: 0 0 0 200px;
	padding: 0;
}

body > header > nav > ul > li {
	display: inline-block;
}

body > header > nav > ul > li.active {
	background-color: #FFFFFF;
	border-radius: 1em 1em 0 0;
}

body > header > nav > ul > li > a {
	color: #FFF;
	padding: .6em;
	padding-bottom: .2em;
}

body > header > nav > ul > li.active > a {
	color: #800080;
}









body > nav {
	background-color: #FFFFFF;
	line-height: 3em;
	font-weight: bold;
}

body > nav > ul {
	font-size: 1.3em;
	list-style-type: none;
	margin: 0 0 0 200px;
	padding: 0;
}

body > nav > ul > li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

body > nav > ul > li > a {
	color: #800080;
	text-decoration: none;
	padding: .6em;
}

body > nav > ul > li.active > a {
	text-decoration: underline;
}









/* ============================== */
/* ============================== */

body > main {
}

body > main header {
	font-variant: small-caps;
	position: relative;
	margin-bottom: 1.25em;
}

body > main header > h1 {
	font-size: 2em;
	margin: 0;
}

body > main header > h2 {
	margin: 0;
}



/* ============================== */
/* ============================== */

body > footer > nav > ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body > footer > nav > ul > li {
	display: inline;
}

body > footer > nav > ul > li:after {
	content: ' ';
	font-weight: bold;
	margin: 0 .3em;
}

body > footer > nav > ul > li:last-child:after {
	display: none;
}

body > footer > small {
	display: block;
	margin-top: .5em;
	font-style: italic;
}

/* ============================== */
/* ============================== */

main#blog > article {
	margin: 0 10%;
}

main#blog > article:after {
	content: "";
	display: block;
	box-shadow: 0px 1px 2px;
	margin: 1.5em 40% 4em 40%;
	height: 1px;
}

main#blog > article:last-child:after {
	display: none;
}

main#blog > article > footer {
	position: relative;
	text-align: right;
	padding-bottom: 1em;
}

main#blog > article > footer > a {
	position: absolute;
	top: calc((40px - 1.1em) / 2);
	left: 0;
	font-size: 1.1em;
}

main#blog > article > footer img{
	vertical-align: middle;
}

main#blog > article > footer time{
	font-style: italic;
}









main#blog > article > aside {
	margin: 0 5%;
}

main#blog > article > aside > article {
	padding-bottom: .4em;
	margin-bottom: 2em;
	border-bottom: 1px ridge #CCC;		
}

main#blog > article > aside > article:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;		
}

main#blog > article > aside > article > footer {
	text-align: right;
}












































